<%- include("partials/header") -%>

    <% const imgUrl="https://image.tmdb.org/t/p/original"+movie.poster_path; %>

    <div class="background-img-container">
        <img src=<%= imgUrl %> alt="Background Poster">
    </div>

    <div class="movie-info-container">
        <div class="short-movie-info">
            <div class="movie-info-poster">
                <img src=<%= imgUrl %> alt="Poster">
            </div>
            <div class="horizontal-row"></div>
            <div class="general-info">
                <div class="info-heading">
                    <span>POPULARITY</span>
                    <span>GENRES</span>
                    <span>RUNTIME</span>
                    <span>TAGLINE</span>
                </div>
                <div class="info-details">
                    <span><%=movie.popularity%></span>
                    <span>
                        <% for(let i=0;i<2;i++){ %>
                            <% if((i+1)>movie.genres.length){ %>
                                <% break; %>
                            <% }else{ %>
                                <%= movie.genres[i].name %>
                            <% } %>
                        <% } %>
                    </span>
                    <span>
                        <% if(media==="tv"){ %>
                            <% if(movie.episode_run_time.length===0){ %>
                                NA
                            <% }else{ %>
                                <%= movie.episode_run_time %>
                            <% } %>
                        <% }else{ %>
                            <%=movie.runtime%> mins
                        <% } %>
                    </span>
                    <span>
                        <% if(movie.tagline===""){ %>
                            NA
                        <% }else{ %>
                            <%=movie.tagline%>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>


        <div class="detailed-movie-info">
            <div class="movie-title">
                <% if(media==="tv"){ %>
                    <%= movie.name %>
                <% }else{ %>
                    <%=movie.original_title %>
                <% } %> 
                <span>(
                    <% if(media==="tv"){ %>
                        <%= movie.first_air_date.substr(0,4) %>
                    <% }else{ %>
                        <%= movie.release_date.substr(0,4) %>
                    <% } %>
                    
                    )</span>
            </div>

            <div class="trailer">
                <% if(movie.videos.results.length===0){ %>
                    <div class="trailer-box">
                        <span>NO TRAILER FOUND</span>
                    </div>
                <% }else{ %>
                    Watch Trailer Now:
                    <% const vidSource="https://www.youtube.com/embed/"+movie.videos.results[0].key; %>
                    <iframe width="660" height="415" src=<%= vidSource %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <% } %>
            </div>

            <div class="synopsis">
                <span class="synopsis-title">
                    Synopsis
                </span>

                <span class="synopsis-info">
                    <%= movie.overview %>
                </span>
            </div>

            <div class="recommendation-title">Recommendation based on this :</div>
            <div class="recommendation-container">
                <div id="prev-recommended-card"><</div>
                <div id="next-recommended-card">></div>
                <% for(let i=0;i<10;i++){ %>
                    <% let recommendURL; %>
                    <% if(movie.recommendations.results.length===0){ %>
                        <% recommendURL="/"; %>
                    <% }else{ %>
                        <% if(movie.recommendations.results[i].media_type==="tv"){ %>
                            <% recommendURL="/show/"+movie.recommendations.results[i].id; %>
                        <% }else{ %>
                            <% recommendURL="/movie/"+movie.recommendations.results[i].id; %>
                        <% } %>
                    <% } %>
                    <form action="<%=recommendURL%>" method="POST" id="recommendation-<%=i%>">
                        <div class="recommendation-poster" onclick=submitRecommendation(<%= i %>)>
                            <% if(movie.recommendations.results.length===0){ %>
                                <% let imgSrc="https://image.tmdb.org/t/p/original"+movie.poster_path; %>
                                <img src=<%= imgSrc %> alt="Poster">
                            <% }else{ %>
                                <% imgSrc="https://image.tmdb.org/t/p/original"+movie.recommendations.results[i].poster_path; %>
                                <img src=<%= imgSrc %> alt="Poster">
                                <% } %>
                                    
                            <% if(i===movie.recommendations.results.length-1){ %>
                                <% break; %>
                            <% } %>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    </div>
    
<%- include("partials/footer") -%>
